body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.container {
    width: 15cm;
    align-items: center;
    background-color: rgb(61, 230, 103);
    border-style: double;
    border-color: black;
}